.container {
    background: #fff;
    padding: 2rem;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.icon {
    font-size: 28px;
    color: #61120C;
    margin-bottom: 0.8rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0.2rem 0 0.8rem;
}

p {
    color: #555;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}

input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.resetPBTN {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #fcd34d;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.resetPBTN:hover {
    background-color: #fbbf24;
}

.error-message {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.success-message {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}